.logo,
.upIcon {
	cursor: pointer;
}
.link-hover,
.upIcon::after {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.siteMoveAlert {
	transition: 1s all;
	z-index: 10000000;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	top: -50%;
	font-family: "Poppins", sans-serif;
	font-size: 1.15rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.siteMoveAlert.active {
	top: 0;
}
.load-bar {
	margin-top: 20px;
	width: 15%;
	height: 7px;
	border-radius: 10px;
	background-color: #bdbdbd;
}
.load-bar div {
	background-color: #c22424;
	width: 0%;
	height: 100%;
	border-radius: 10px;
}
*,
.loader {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.contactHover::after,
.loader::before,
.upIcon::after {
	content: "";
	position: absolute;
}
* {
	margin: 0;
	padding: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
[title^="Hosted on free web hosting 000webhost.com. Host your own website for FREE."],img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
	display: none;
}
.carousel .carousel-indicators li,
.carousel-indicators [data-bs-target] {
	background-color: red;
}
.list-inline-item a:hover {
	text-decoration: underline !important;
}
.copyright {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #333;
	font-weight: 400;
	text-align: left;
}
.carousel .carousel-indicators li.active {
	background-color: #00f;
}
.progress {
	height: 13px !important;
}
a.h3 {
	margin-bottom: 0 !important;
}
.modal::-webkit-scrollbar {
	display: none !important;
}
img[alt*="000webhost"],
img[alt*="000webhost"][style],
img[src*="000webhost"],
img[src*="000webhost"][style] {
	opacity: 0 !important;
	pointer-events: none !important;
	width: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
	display: none !important;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-thumb {
	background: #dc3545;
	border: 1px solid #fff;
	border-radius: 24px;
}
::-webkit-scrollbar-thumb:hover {
	background: #c22424;
}
::-webkit-scrollbar-thumb:active {
	background: #dc3545;
}
::-webkit-scrollbar-track {
	background: 0 0;
	border: 100px solid transparent;
	border-radius: 23px;
}
::-webkit-scrollbar-track:hover {
	background: #ffffff00;
}
::-webkit-scrollbar-track:active {
	background: #ffffff00;
}
::-webkit-scrollbar-corner {
	background: 0 0;
}
::-moz-selection {
	color: #fff;
	background-color: #e34a59;
}
::selection {
	color: #fff;
	background-color: #e34a59;
}
.hover-username {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	text-shadow: 0 2rem 0 #0d6dfd00;
	transition: 0.3s;
}

.link-hover:hover ~ h4 .hover-username {
	-webkit-transform: translateY(-2rem);
	transform: translateY(-2rem);
	text-shadow: 0 2rem 0 #dc3545;
}
img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
.contactHover,
.navActive,
.navHover,
.outtro,
body {
	position: relative;
}
.Typewriter__cursor {
	user-select: none;
}
body {
	overflow: hidden;
	height: 100vh;
}
.upIcon,
.warpper {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}
section:focus {
	outline: 0;
}
.upIcon {
	right: 1.5%;
	width: 50px;
	top: 100%;
	height: 50px;
	font-size: 1.5rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #b80e0e;
	outline: 0;
	border: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	z-index: 1;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: 0.3s linear;
}
#imgclick {
	user-select: none;
	cursor: url("../static/cursor.png"), auto;
	transition: 0.3s;
	border-radius: 50%;
}
#imgclick:active {
	scale: 0.985;
	border: 1px solid #c22424;
	box-shadow: 0px 0px 90px -10px rgba(190, 190, 190, 1);
}
.upIcon::after {
	width: 0;
	height: 0;
	background-color: #ff0000;
	z-index: -1;
	top: -15%;
	left: -15%;
	border-radius: 50%;
}
.upIcon:hover::after {
	width: 140%;
	height: 140%;
}
.upIcon:active,
.upIcon:focus,
svg {
	border: none !important;
	outline: 0 !important;
}

@media screen and (max-width: 1200px) {
	.load-bar {
		width: 20%;
	}
}

@media screen and (max-width: 768px) {
	.load-bar {
		width: 30%;
	}
}
@media screen and (max-width: 576px) {
	.load-bar {
		width: 33%;
	}
}

@media screen and (max-width: 400px) {
	.load-bar {
		width: 45%;
	}
}
.warpper {
	width: 100%;
	height: 100vh;
	background-color: #fff;
	z-index: 111111;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	transition: all 0.5s, height 0s;
}
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	-webkit-transform-origin: 40px 40px;
	-ms-transform-origin: 40px 40px;
	transform-origin: 40px 40px;
	-webkit-animation: 1.2s linear infinite lds-spinner;
	animation: 1.2s linear infinite lds-spinner;
}
.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #c22424;
}
.lds-spinner div:first-child {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
@-webkit-keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.loader {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	width: 48px;
	height: 78px;
	position: relative;
	border: 2px solid #000;
	margin: auto;
	border-radius: 50%/25%;
}
.loader::before {
	left: 50%;
	top: 20px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 4px;
	height: 4px;
	background: #000;
	border-radius: 10px;
	-webkit-animation: 1.5s linear infinite scrollDown;
	animation: 1.5s linear infinite scrollDown;
}
@-webkit-keyframes scrollDown {
	0% {
		top: 15px;
		height: 4px;
		opacity: 1;
	}
	33% {
		top: 15px;
		height: 40px;
	}
	66% {
		top: 50px;
		height: 10px;
		opacity: 1;
	}
	100% {
		top: 56px;
		height: 4px;
		opacity: 0;
	}
}
@keyframes scrollDown {
	0% {
		top: 15px;
		height: 4px;
		opacity: 1;
	}
	33% {
		top: 15px;
		height: 40px;
	}
	66% {
		top: 50px;
		height: 10px;
		opacity: 1;
	}
	100% {
		top: 56px;
		height: 4px;
		opacity: 0;
	}
}
.fa-exclamation {
	-webkit-transition: 10ms;
	-o-transition: 10ms;
	transition: 10ms;
	border: none;
	outline: 0;
}
.contactHover::after {
	display: block;
	margin: auto;
	bottom: -2px;
	left: 0;
	background-color: #212529bf;
	width: 0;
	height: 1px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.navActive::after,
.navHover::after {
	height: 0;
	margin: auto;
	bottom: 0;
	left: 0;
	background-color: #dc3545;
	border-radius: 10px;
	width: 100%;
	content: "";
	display: block;
	position: absolute;
}
.navHover::after {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.navHover:hover::after {
	height: 3px;
}
.navActive::after {
	-webkit-animation: 0.2s 0.2s forwards intro;
	animation: 0.2s 0.2s forwards intro;
}
.outtro::after {
	content: "";
	position: absolute;
	display: block;
	margin: auto;
	bottom: 0;
	left: 0;
	background-color: #dc3545;
	width: 100%;
	height: 3px;
	-webkit-animation: 0.2s forwards outro;
	animation: 0.2s forwards outro;
	border-radius: 10px;
}
@-webkit-keyframes intro {
	from {
		height: 0;
	}
	to {
		height: 3px;
	}
}
@keyframes intro {
	from {
		height: 0;
	}
	to {
		height: 3px;
	}
}
@-webkit-keyframes outro {
	from {
		height: 3px;
	}
	to {
		height: 0;
	}
}
@keyframes outro {
	from {
		height: 3px;
	}
	to {
		height: 0;
	}
}
.navActive::after {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.navActive.active::after {
	-webkit-animation-name: active;
	animation-name: active;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.navActive.inactive::after {
	-webkit-animation-name: inactive;
	animation-name: inactive;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.contactHover:hover::after {
	width: 100%;
}
.popupToggle {
	outline: 0;
	border: none;
	color: #00f;
	text-decoration: underline;
}
::-webkit-input-placeholder {
	font-size: 0.85rem;
	padding-left: 4px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	font-family: Arial, sans-serif;
	color: #212529;
}
::-moz-placeholder {
	font-size: 0.85rem;
	padding-left: 4px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	font-family: Arial, sans-serif;
	color: #212529;
}
:-ms-input-placeholder {
	font-size: 0.85rem;
	padding-left: 4px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	font-family: Arial, sans-serif;
	color: #212529;
}
::-ms-input-placeholder {
	font-size: 0.85rem;
	padding-left: 4px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	font-family: Arial, sans-serif;
	color: #212529;
}
::placeholder {
	font-size: 0.85rem;
	padding-left: 4px;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	font-family: Arial, sans-serif;
	color: #212529;
}

textarea::-webkit-input-placeholder {
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

textarea::-moz-placeholder {
	transform: translateY(5px);
}

textarea:-ms-input-placeholder {
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}

textarea::-ms-input-placeholder {
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}

textarea::placeholder {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}
.tippy-tooltip.myTheme-theme {
	background-color: #c22424;
	color: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.tippy-tooltip.myTheme-theme[data-placement^="top"] .tippy-arrow {
	border-color: #c22424 transparent transparent;
}
.tippy-tooltip.myTheme-theme .tippy-arrow {
	border-color: #c22424 transparent transparent;
}
.success-checkmark {
	width: 80px;
	height: 115px;
	margin: 0 auto;
}
.success-checkmark .check-icon {
	width: 80px;
	height: 80px;
	position: relative;
	border-radius: 50%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
	top: 3px;
	left: -2px;
	width: 30px;
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
	top: 0;
	left: 30px;
	width: 60px;
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	border-radius: 0 100px 100px 0;
	-webkit-animation: 4.25s ease-in rotate-circle;
	animation: 4.25s ease-in rotate-circle;
}
.success-checkmark .check-icon::after,
.success-checkmark .check-icon::before {
	content: "";
	height: 100px;
	position: absolute;
	background: #f8f9fa;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
	height: 5px;
	background-color: #4caf50;
	display: block;
	border-radius: 2px;
	position: absolute;
	z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
	top: 46px;
	left: 14px;
	width: 25px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 0.75s icon-line-tip;
	animation: 0.75s icon-line-tip;
}
.success-checkmark .check-icon .icon-line.line-long {
	top: 38px;
	right: 8px;
	width: 47px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: 0.75s icon-line-long;
	animation: 0.75s icon-line-long;
}
.success-checkmark .check-icon .icon-circle {
	top: -4px;
	left: -4px;
	z-index: 10;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
	top: 8px;
	width: 5px;
	left: 26px;
	z-index: 1;
	height: 85px;
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #f8f9fa;
}
@-webkit-keyframes rotate-circle {
	0%,
	5% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	100%,
	12% {
		-webkit-transform: rotate(-405deg);
		transform: rotate(-405deg);
	}
}
@keyframes rotate-circle {
	0%,
	5% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	100%,
	12% {
		-webkit-transform: rotate(-405deg);
		transform: rotate(-405deg);
	}
}
@-webkit-keyframes icon-line-tip {
	0%,
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}
@keyframes icon-line-tip {
	0%,
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}
@-webkit-keyframes icon-line-long {
	0%,
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
@keyframes icon-line-long {
	0%,
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
.indicator {
	width: 100%;
	margin: 0 auto;
	height: 4px;
	background-color: red;
	position: absolute;
	top: 0;
	-webkit-animation: 8s 2s indicator;
	animation: 8s 2s indicator;
}
@-webkit-keyframes indicator {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}
@keyframes indicator {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}
/* CDN CDN CDN CDN CDN CDN CDN */
.tippy-tooltip[data-placement^="top"] > .tippy-backdrop {
	transform-origin: 0 25%;
	border-radius: 40% 40% 0 0;
}
.tippy-tooltip[data-placement^="top"] > .tippy-backdrop[data-state="visible"] {
	transform: scale(1) translate(-50%, -55%);
}
.tippy-tooltip[data-placement^="top"] > .tippy-backdrop[data-state="hidden"] {
	transform: scale(0.2) translate(-50%, -45%);
}
.tippy-tooltip[data-placement^="bottom"] > .tippy-backdrop {
	transform-origin: 0 -50%;
	border-radius: 0 0 30% 30%;
}
.tippy-tooltip[data-placement^="bottom"] > .tippy-backdrop[data-state="visible"] {
	transform: scale(1) translate(-50%, -45%);
}
.tippy-tooltip[data-placement^="bottom"] > .tippy-backdrop[data-state="hidden"] {
	transform: scale(0.2) translate(-50%);
}
.tippy-tooltip[data-placement^="left"] > .tippy-backdrop {
	transform-origin: 50% 0;
	border-radius: 50% 0 0 50%;
}
.tippy-tooltip[data-placement^="left"] > .tippy-backdrop[data-state="visible"] {
	transform: scale(1) translate(-50%, -50%);
}
.tippy-tooltip[data-placement^="left"] > .tippy-backdrop[data-state="hidden"] {
	transform: scale(0.2) translate(-75%, -50%);
}
.tippy-tooltip[data-placement^="right"] > .tippy-backdrop {
	transform-origin: -50% 0;
	border-radius: 0 50% 50% 0;
}
.tippy-tooltip[data-placement^="right"] > .tippy-backdrop[data-state="visible"] {
	transform: scale(1) translate(-50%, -50%);
}
.tippy-tooltip[data-placement^="right"] > .tippy-backdrop[data-state="hidden"] {
	transform: scale(0.2) translate(-25%, -50%);
}
.tippy-tooltip[data-animatefill] {
	background-color: transparent !important;
}
.tippy-backdrop {
	position: absolute;
	background-color: #333;
	border-radius: 50%;
	width: calc(110% + 32px);
	left: 50%;
	top: 50%;
	z-index: -1;
	transition: all cubic-bezier(0.46, 0.1, 0.52, 0.98);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tippy-backdrop[data-state="hidden"] {
	opacity: 0;
}
.tippy-backdrop:after {
	content: "";
	float: left;
	padding-top: 100%;
}
.tippy-backdrop + .tippy-content {
	transition-property: opacity;
	will-change: opacity;
}
.tippy-backdrop + .tippy-content[data-state="hidden"] {
	opacity: 0;
}
.tippy-tooltip[data-animation="shift-toward"][data-placement^="top"][data-state="hidden"] {
	transform: translateY(-10px);
}
.tippy-tooltip[data-animation="shift-toward"][data-placement^="bottom"][data-state="hidden"] {
	transform: translateY(10px);
}
.tippy-tooltip[data-animation="shift-toward"][data-placement^="left"][data-state="hidden"] {
	transform: translateX(-10px);
}
.tippy-tooltip[data-animation="shift-toward"][data-placement^="right"][data-state="hidden"] {
	transform: translateX(10px);
}
.tippy-tooltip[data-animation="shift-toward"][data-state="hidden"] {
	opacity: 0;
}

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}
.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -15%, 0);
		transform: translate3d(0, -15%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -15%, 0);
		transform: translate3d(0, -15%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
.animate__fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-15%, 0, 0);
		transform: translate3d(-15%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-15%, 0, 0);
		transform: translate3d(-15%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
.animate__fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	animation-delay: 0.1s;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
.animate__fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-delay: 0.2s;
}
.Typewriter__cursor {
	color: #dc3545;
}
